############################################
# original .gitignore
*.o
.depend
tests/js/node_modules
ffish.js
*.wasm

stockfish.js
stockfish.js.mem
stockfish.wasm
stockfish.worker.js
############################################

############################################
# ignore Windows build scripts
s/
############################################

